@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,200&display=swap');
body {
font-family:font-family: 'Montserrat', sans-serif;
background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1773&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-position:centr;
background-size:cover;
background-repeat:no-repeat;
}
nav {
display:flex;
align-items:center;
justify-content:space-between;
gap:1rem;
}
.nav_logo img {
max_width:70px;
}
.nav_links{
list_style:none;
color:white;
display:flex;
align-items:center;
gap:2rem;
}

.link a {
text-decoration:none;
font-weight:600;
color:var(--red);
padding:10px 20px;
}
.search{
width:100%;
max-width:300px;
padding:5rem 1rem;
display:flex;
align-items:flex
gap:1rem;
background-color:var(--white);
border-radius:2rem;
transition:0.3s;
}
.search input{
width:100%;
font-size:1rem;
color:var(--primary-color);
outline:none;
border:none;
}
.search input::plaveholder{
color:var(--secondary-color);
}
.login{
background:brown;
padding:0.5rem 1rem;
display:flex;
align-items:center;
gap:1rem;
font-weight:600;
color:var(--white);
background-color:var(blue);
border-radius:2rem;
cursor:pointer;
transition:0.3s;
}
.login::hover {
background-color:var(blue);
}
.login span:5px 8px;
font-size:1.5rem;
color:var(blue);
background-color:var(blue);
border-radius:100%;
}
.logo{
font-weight:bold;
font-size:2em;
letter-spacing:2px;
}
.logo span{
color:brown;
}
.text{
max-width:650px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}
.text span{
letter-spacing:5px;
}
.text h1{
font-size:3.5em;
}
.text a{
text-decoration:none;
background:indianred;
color:white;
padding:10px 20px;
letter-spacing:5px;
}